@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto-font {
  font-family: "Roboto", sans-serif;
}
.active-link {
  color: #EC407A;
  font-weight: 600;
  text-decoration: underline #EC407A;
}
.cart-item {
  animation: slideIn 0.3s ease;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
